html {
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#planets {
    margin-right: 5%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.header {
    margin: 1%;
    height: 5%;
}

#contentgenerate{
    border: #7d12ff 15px solid;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 0 30px #200589;
}
#contentgenerate p{
    color: #ab20fd;
}