body {
    /*background-image: url(../images/planets.png);*/
    background-repeat: no-repeat;
    background-size: cover;
}

#planets{
    margin-right: 5%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.header{
    border: rgb(16, 66, 141) solid 10px;
    border-radius: 15px;
    text-align: center;
    background-color: #d86100;
    margin: 1%;
    width: 70%;
}